.header
  .header_main
    .header_main__left
      = link_to root_path do
        %p.title Nota
    .header_main__center
      = form_with url: "#", local: true, method: :get, class: "search_form" do |form|
        = form.text_field :keyword, placeholder: "キーワードから探す", class: "search_form_input"
        = button_tag type: "submit", class: "search_form_btn" do
          %h1.searchtext 検索
    .header_main__right
      = link_to '詳細検索',"#", class: "search_detail"
  .header_sub
    - if user_signed_in?
      .header_sub__login
        = link_to 'ログアウト', destroy_user_session_path, class: "logout_btn"
      .header_sub__register
        = link_to '新規投稿', new_note_path, class: "post_btn"
    - else
      .header_sub__login
        = link_to 'ログイン', new_user_session_path, class: "login_btn"
      .header_sub__register
        = link_to '新規登録', new_user_registration_path, class: "register_login"