= render "notes/header"
- breadcrumb :edit_note
= breadcrumbs separator: " &rsaquo; "
.main_note
  .new_note
    %h.post_info ノート編集
    = form_with(model: @notes, local: true)do |f|
      .field
        = f.label :ノートタイトル, class: "new_note_info"
        %br/
        = f.text_field :title, autofocus: true, class: "new_note_form", placeholder: "例）高2英文法"
      .field
        = f.label :対象, class: "new_note_info"
        %br/
        = f.select :status, ['小学生', '中学生', '高校生', '大学生', '社会人'], { include_blank: '選択してください'}, { class: 'note_status_form' , required: true }
      .field
        = f.label :科目, class: "new_note_info"
        %br/
        = f.select :subject, ['英語', '数学', '国語', '理科', '社会'], { include_blank: '選択してください'}, { class: 'note_subject_form' , required: true }
      .field
        = f.label :ノート説明, class: "new_note_info"
        %br/
        = f.text_area :text, autofocus: true, class: "new_note_text", placeholder: "例）高校2年で関習った係代名詞をまとめたノートです。"
      .actions
        = f.submit "編集する", class: "new_note_btn"
= render "notes/appbanner"
= render "notes/footer"