= render "notes/header"
.main
  = render "users/left"

  .main_right
    .main_right_contents
      .main_right_contents_title
        = @notes.title
        %h の詳細
      .main_right_contents_content
        .main_right_contents_name
          %h 投稿者：
          = @notes.user.nickname
        .main_right_contents_status
          %h 対象：
          = @notes.status
        .main_right_contents_subject
          %h 科目：
          = @notes.subject
      .main_right_contents_images
        - @notes.images.each do |image ,i|
          .main_right_contents_images_image
            = image_tag image, width:"400",height:"350"
      %h ＜ ノート説明 ＞
      %i.fas.fa-arrow-circle-down
      .main_right_contents_text
        =@notes.text
      .main_right_contents_btn
        - if @notes.user_id == current_user.id
          = link_to '削除', @notes, method: :delete, class: "delete_btn", data: { confirm: '削除しますか?' }
          %br
          = link_to '編集', "/notes/#{@notes.id}/edit", method: :get, class: "edit_btn"
    .main_right_functions
      .main_right_favotite
        #favorite{ id: @notes.id }
          = render "favorites/favorite"
      .main_right_comment
        = form_with(model:[@notes, @comment], local: true) do |f|
          = f.text_area :text, placeholder:"コメントを入力してください", rows:"2", class:"comment_form"
          %br
          = f.submit "投稿する", class:"comment_btn"
    %h ＜コメント一覧＞
    %i.fas.fa-arrow-circle-down
    .main_right_comments
      - @comments.reverse.each do |c|
        %p
          %strong
            = c.user.nickname
            ：
          = c.text
          %br
          コメント時間
          = c.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M")
= render "notes/appbanner"
= render "notes/footer"